<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 3</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .correctAnswer {
        border: 3px solid green;
      }
      .incorrectAnswer {
        border: 3px solid red;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div class="mb-2 lead p-4">
        Задача 3. Елемент тренажера англійської. Виводимо зображення елемента і
        слово. Користувач вводить відповідь. Якщо вірно – відтворюємо фразу
        «Добре. Молодець!» (і додаємо зелену рамку до елемента), якщо ні - то
        відтворюємо фразу «Невірно, спробуйте ще раз» (і додаємо червону рамку).
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="./img/table.jpg"
          alt="table"
          class="img"
          :class="currentClass"
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-title">table</div>
          <label>
            Ваш переклад
            <input type="text" class="form-control mb-2" v-model="userAnswer" />
          </label>
          <button
            type="button"
            type="button"
            class="btn btn-secondary mb-2"
            :disabled="!userAnswer"
            @click="isAnswerCorrect"
          >
            Перевірити
          </button>
          <div v-if="isAnswerCorrect">{{message}}</div>
          <div v-else-if="!isAnswerCorrect">{{message}}</div>
        </div>
      </div>
    </div>
    <script>
      const {createApp} = Vue

      createApp({
        data() {
          return {
            userAnswer: '',
            correctAnswer: 'стіл',
            message: null,
            messagesList: ['Добре. Молодець!', 'Невірно, спробуйте ще раз'],
            currentClass: '',
            currentUserAnswer: null,
          }
        },
        methods: {
          isAnswerCorrect() {
            if (this.userAnswer && this.userAnswer === 'стіл') {
              this.currentUserAnswer = true
              this.currentClass = 'correctAnswer'
              this.message = this.messagesList[0]
            } else {
              this.currentUserAnswer = false
              this.currentClass = 'incorrectAnswer'
              this.message = this.messagesList[1]
            }
          },
        },
      }).mount('#app')
    </script>
  </body>
</html>
